.colorPalette {
  position: absolute;
  display: flex;
  width: fit-content;
  gap: 8px;
  padding-top: 8px;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;

  .colorPalette__color {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
  }
}
