.drawingArea {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2147483646;
  cursor: crosshair;

  .drawingArea__maxSize {
    display: flex;
    height: 962px;
    color: white;
    text-align: center;
    background-color: rgb(25 130 196 / 90%);
    text-shadow: 0 3px 8px rgb(0 0 0 / 24%);
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
    padding-top: 32px;
  }
}
