.toolbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: none;
  position: absolute;
  left: 0;
  right: 0;
  transition: opacity 0.1s;
  z-index: 1;
  pointer-events: none;
}

.toolbox-hide {
  display: none;
}

.toolbox__tools {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: auto;
  background-color: white;
  padding: 6px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
}
