.toolbox {
  position: absolute;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  padding-top: 8px;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
}

.toolbox__eraserCircle {
  position: absolute;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  border-radius: 50%;
}
