.toolbox {
  position: absolute;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  padding: 6px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
  top: -44px;
  animation: move-animation ease 0.4s;
  animation-fill-mode: forwards;
}

.toolbox__eraserCircle {
  position: absolute;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  border-radius: 50%;
}

@keyframes move-animation {
  0% {
    top: -44px;
  }

  100% {
    top: 0;
  }
}
