.button {
  display: flex;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  cursor: pointer;
  background-color: #cfcfc4;
}
