.button {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #e7e7e7;
  border: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  cursor: pointer;
}
