.tools {
  position: absolute;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  padding-top: 8px;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;

  .tools__image {
    display: flex;
    border-radius: 50%;
    border: 0;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
  }
}
